html, body {
  height: 100%;
  width: 100%;
  background-color: #eef;
}

/* Page Title */
.topTitle {
  margin-bottom: 2em;
}

.littleTitle {
  background-color: #eee;

  h3 {
    color : #000;
  }
}

/* Main Page Tabs */
.tabs {
  ul {
    margin-bottom: 7px;

    li {
      list-style: none;
      display: inline;
      background-color: #fff;
      padding: 0.5em;
      border: 1px solid #ddd;
      border-bottom: 1px solid transparent;
      margin: 0px .25em;
      cursor: pointer;
    }

    li.active {
      background-color: #ddf;
    }
  }
}

/* Page Contents */
.container {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  height: 40em;
  overflow-y: hidden;

  > div {
    visibility: hidden;
    height: 0px;
  }

  .syllabusWrapper {
    margin-top: 1em;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;

    .instructor {
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      .name {
        font-size: 1.2em;
        font-weight: bolder;
      }

      li {
        display: list-item;
      }

      .instlabel {
        display: inline;
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    .tas {
      width: 50%;
      margin-bottom: 0;
      padding-bottom: 0;
      display: inline-flex;
      justify-content: center;
      margin-left: 25%;
      padding-left: 0;

      li {
        list-style: none;
      }

      li:last-child {
        margin-left: 5em;
      }

      .name {
        font-size: 1.1em;
        font-weight: bold;
      }
      .hours {
        margin-bottom: 1em;
      }
    }

    .book {
      list-style: none;
      margin-bottom: 1em;

      .title {
        font-size: 1.1em;
        font-weight: bold;
      }
      .author {
        font-size: 1em;
        font-weight: light;
      }
    }

    .desc {
      font-size: 1em;
      font-weight: lighter;
      font-style: italic;
    }

    ul ul {
      list-style-type: none;
    }

    > * {
      margin-bottom: 1em;
    }

    .syl-head {
      list-style: none;
      font-size: 1.5em;

      .main {
        font-weight: bold;
        font-size: 2em;
      }
    }

    .syl-subhead {
      font-size: 1.5em;
      margin-top: 1.75em;
    }

    a {
      font-weight: bold;
    }
  }

  .notes {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.5em;

    .note-item{
      display: list-item;
      list-style: none;
      padding-bottom: .25em;
    }

    .note-item:nth-child(n+2) {
      border-top: 1px solid #ddd;
      padding-top: 0.5em;
    }

    > .note-item > a:first-child {
      float: right;
      margin-right: 1.25em;
    }

    > .note-item > .links {
      float: right;
      margin-right: 1.25em;
    }

    > .note-item > .links i {
      padding-left: 0.5em;
    }

    > .note-item * {
      display: inline;
    }
  }

  .sorry {
    height: 10%;
    width: 80%;
    left: 10%;
    top: 45%;
    position: absolute;

    .oops {
      margin-top: 0;
    }
  }

  .item {
    > * {
      display: inline;
    }
    > i {
      margin-right: 1em;
    }

    display: list-item;
    font-size: 1.25em;
    list-style-type: none;
    margin-top: 1em;
  }

  > div.active {
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}

/* Top Navbar */
.topBar {
  background-color: #4062bb;
  width: 100%;
  height: 4em;
  margin-bottom: 2em;

  .brand {
    padding-top: 0.75em;
    padding-left: 0.75em;
    color: #fff;
    font-size: 1.25em;

    > i {
      font-size: 1.5em;
      margin: 0 1em;
    }
  }

  .breadcrumbs {
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    list-style: none;
    list-style-type: none;
    color: #fff;

    /* Breadcrumbs Styling */
    li {
      display: inline;

      a {
        color: #fff;
      }
    }

    li:nth-child(n+1) {
      margin-left: 0.25em;
    }

    li:nth-child(n+1):after {
      padding-left: 0.5em;
      content: '>';
    }

    li:first-child {
      margin-left: auto;
      padding-left: auto;
      border-left: 0px solid transparent;
    }

    li:last-child:after {
      content: none;
    }
  }
}
